<div class="create_quiz__container">
  <div class="create_quiz_logo">
    <img src="images/logo.png" alt="">
    <h1>Crie seu quiz</h1>
  </div>
  <div class="create_quiz_title">
    <h1>Escolha o titulo do quiz</h1>
    <input type="text" placeholder="titulo do quiz">
  </div>
  <div class="create_quiz_results">
    <h1>Informe os 2 possívels resultados</h1>
    <input type="text" placeholder="resultado 1">
    <input type="text" placeholder="resultado 2">
  </div>
  <div class="create_quiz_questions">
    <!-- Fazer o input de opção ser mais dinâmico, repetindo a criação de perguntas e opções 5 vezes na tela -->
    <h2>Insira a pergunta</h2>
    <input type="text" placeholder="pergunta 1">
  </div>
  <div class="create_quiz_options">
    <!-- Fazer o input de opção ser mais dinâmico -->
    <h2>Informe as opções</h2>
    <input type="text" placeholder="opção 1">
    <input type="text" placeholder="opção 2">
    <input type="text" placeholder="opção 3">
    <input type="text" placeholder="opção 4">
  </div>
  <div class="return_to_quiz">
    <button>Voltar</button>
  </div>
</div>
